---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="resume row">
    {% include project_tags.html %}
    {% for i in site.data.resume %}
    <div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
    		<div class="project-inner">
    			<h3 class="project-headlines">{{ i.name }}</h3>
    			<div class="project-content">
    				<div class="tag-holder">
    				{% if i.tags %} 
    					{% for j in i.tags %}
    					<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
    					{% endfor %}
    				{% endif %}
    				</div>
    				
    			</div>
    			<div class="project-footer"> 
    				<span class="project-timeline">{{ i.date }}</span>
    			</div>
    		</div>
        </div>
    {% endfor %}
    </div>
  </div>

</article>
